<% provide(:title, @user.name) %>

<div class="row">
	<div class="col-md-12">
		<h3><%= @user.name %></h3>

		<p>
		  <strong>Email:</strong>
		  <%= mail_to @user.email %>
		</p>

		<p>
		  <strong>Admin:</strong>
			<% if @user.admin %>
				<span class='glyphicon glyphicon-ok-circle', style='color:green'></span>
			<% else %>
				<span class='glyphicon glyphicon-remove-circle', style='color:red'></span>
			<% end %>
		</p>
		</p>

		<h3>Projects (<%= @user.projects.count %>)</h3>
		<% if current_user?(@user) %>
			<p><%= link_to 'New Project', new_project_path, class: "btn btn-primary" %></p>
		<% end %>
    <% if @user.projects.any? %>
			<ul class="list-group">
				<li class="list-group-item">
					<div class="row">
						<div class="col-md-2">
							<strong>Project name</strong>
						</div>
						<div class="col-md-3">
							<strong>Project description</strong>
						</div>
						<div class="col-md-2">
							<strong>Start date</strong>
						</div>
						<div class="col-md-2">
							<strong>End date</strong>
						</div>
						<div class="col-md-2">
							<strong>PI</strong>
						</div>
						<div class="col-md-1">
						</div>
					</div>
				</li>
      <ul class="list-group">
        <%= render @projects %>
      </ul>
		<% else %>
			<span class="label label-danger">None entered</span>
		<% end %>

		<h3>Fieldsites (<%= @user.sites.count %>)</h3>
		<% if current_user?(@user) %>
			<p><%= link_to 'New Fieldsite', new_site_path, class: "btn btn-primary" %></p>
		<% end %>
		<% if @user.sites.any? %>

		<div id='map'></div>
		<br>

			<ul class="list-group">
	      <li class="list-group-item">
	        <div class="row">
	          <div class="col-md-2">
	            <strong>Site name</strong>
	          </div>
						<div class="col-md-3">
	            <strong>Site description</strong>
	          </div>
	          <div class="col-md-2">
	            <strong>Latitude</strong>
	          </div>
	          <div class="col-md-2">
	            <strong>Longitude</strong>
	          </div>
						<div class="col-md-1">
	            <strong>Icon</strong>
	          </div>
	          <div class="col-md-2">
	            <strong>Shared</strong>
	          </div>
	        </div>
	      </li>
	      <%= render @sites %>
	    </ul>
		<% else %>
			<span class="label label-danger">None entered</span>
		<% end %>

  </div>
</div>


<script>
  function initMap() {
		var bounds = new google.maps.LatLngBounds();
    var sites = <%= raw @user.sites.map {|i| [i.site_name.to_s, i.latitude.to_s, i.longitude.to_s, i.id.to_s, i.color.to_s] } %>;

    var map = new google.maps.Map(document.getElementById('map'), {
      maxZoom: 18,
      // center: new google.maps.LatLng(21.458369, -157.807275),
      mapTypeId: google.maps.MapTypeId.SATELLITE,
      streetViewControl: false
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < sites.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(sites[i][1], sites[i][2]),
				icon: {
          url: 'http://maps.google.com/mapfiles/ms/icons/'+sites[i][4]+'.png'
        },
        map: map
      });

			bounds.extend(marker.position);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent('<a data-no-turbolink="true" href="/sites/'+sites[i][3]+'">'+sites[i][0]+'</a>');
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
		map.fitBounds(bounds);
  }
  $(document).ready(initMap);
  $(document).on('page:load', initMap);
</script>
