<li class="list-group-item">
  <div class="row">
    <div class="col-md-2">
      <p><%= link_to site.site_name, site %></p>
    </div>
    <div class="col-md-3">
      <p><%= truncate(site.site_description, length: 15) %></p>
    </div>
    <div class="col-md-2">
      <p><%= site.latitude %></p>
    </div>
    <div class="col-md-2">
      <p><%= site.longitude %></p>
    </div>
    <div class="col-md-1">
      <p><%= image_tag 'http://maps.google.com/mapfiles/ms/icons/'+site.color+'.png', style: 'height:15px;width:auto;' %></p>
    </div>
    <div class="col-md-1">
      <p>
        <% if site.shared %>
          <span class='glyphicon glyphicon-ok-circle', style='color:green'></span>
        <% else %>
          <span class='glyphicon glyphicon-remove-circle', style='color:red'></span>
        <% end %>
      </p>
    </div>
    <div class="col-md-1">
      <% if current_user.admin? %>
        <%= link_to "delete", site, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </div>
  </div>
</li>
